.frame {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap : 20px;

  padding: 20px;
}

.frame * {
  box-sizing: border-box;
}

.frame h2 {
  width: 100%;
  display: flex;
  justify-content: center;
}