.chart-container {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: transparent;

}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  gap:30px;
}

.chart {
  width: 100%;
  height: 100%;

}

.Rank {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap : 10px;
}


.StrategyCard {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
  max-width: 500px;
  margin: 15px auto;

  cursor: pointer;

  display: none;
}


.StrategyCard h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: var(--text-color);
  text-align: center;
}

.StrategyContent p {
  margin: 5px 0;
  font-size: 0.95em;
  line-height: 1.5;
  color: var(--text-color);
}