html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: auto;
}

html * {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    --bg-color: white;
    --text-color: black;
    
    color: var(--text-color);
    background-color: var(--bg-color);

}

#root {
    width: 100%;
    height: 100%;
}
