html {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html * {
    box-sizing: border-box;
}

html *::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    --text-color : #171a24;
    --bg-color : #d5d5d5;

    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

#root {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
