html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html * {
    box-sizing: border-box;
}

html *::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    --bg-color: #f5f5f5;
    --text-color: #232d3b;
    
    color: var(--text-color);
    background-color: var(--bg-color);

}

#root {
    width: 100%;
    height: 100%;
}
